* {
    box-sizing:border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

p, a {
  font-family: "Outfit", sans-serif;
}

h3 {
  font-family: "Outfit-bold", sans-serif;
}

.qr-code {    
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding-top: 15px;
  max-width: 300px;
  max-height: 450px;
}

.qr-code .qr-image {
  border-radius: 10px;
  width: 90%;
}

.qr-code .qr-text {
  display: inline-block;
  max-width: 250px;
}

.qr-code p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.footer p {
  font-size: 12px;
}

.footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 400px) {
  .qr-code {
    width: 300px;
    height: 450px;
  }
