* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

p, a {
  font-family: "Outfit", sans-serif;
}

h3 {
  font-family: "Outfit-bold", sans-serif;
}

.qr-card {
  padding: 15px;
  margin: 24px;
  max-width: 320px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}

.qr-card .qr-image{
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.qr-card .qr-text {
  display: inline-block;
  width: 250px;
}

.qr-card p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.footer p {
  font-size: 12px;
}

.footer a {
  color: hsl(228, 45%, 44%);
}
